<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse110team24.walkwalkrevolution">

    <application
        android:name=".application.FirebaseApplicationWWR"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity android:name=".teammates.TeamRoutesActivity"></activity>
        <activity android:name=".RouteDetailsActivity" />
        <activity
            android:name=".SaveRouteActivity"
            android:label="@string/title_activity_saving_page" />
        <activity
            android:name=".RoutesActivity"
            android:label="@string/title_activity_routes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".invitations.InvitationsActivity"
            android:label="@string/title_pending_invitations_page" />
        <activity android:name=".MockActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".teammates.TeamActivity"
            android:label="@string/title_team_page" />
        <activity
            android:name=".invitations.InviteTeamMemberActivity"
            android:label="@string/title_add_team_member" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.TeammateRoutesActivity"
            android:label="@string/title_activity_teammate_routes" />

        <service
            android:name=".firebase.messaging.FirebaseMessagingServiceWWR"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>